<div class="inside">
<h2>Your <%= @language.name %> Idioms</h2>

<% @phrases.each do |phrase| %>
      <p><%= link_to phrase.body, language_phrase_path(@language, phrase) %></p>
<% end %>

<h4><%= link_to "New Idiom", new_language_phrase_path(@language) %></h4>

</div>
