/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self

 font-family: 'Pacifico', cursive;
 font-family: 'Quicksand', sans-serif;
 font-family: 'Scheherazade', serif;
 font-family: 'Alef', sans-serif;
 font-family: 'PT Mono', monospace;

 */

 html, body {
   background-color: #C5C1C0;
   font-family: 'Quicksand','Scheherazade','Alef','PT Mono', sans-serif;
 }

 input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1em;
    background-color:teal;
    color:white;
}

 .title {
   font-family: 'Pacifico', cursive;
   font-size: 6em;
   margin:0;
   padding:0;
 }

 .crud_button {
   
 }

 .alert {
   color:darkred;
 }

 .notice {
   color:lightgreen;
 }

 #title_link {
  font-size:.3em;
 }
